<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head ('Add Student')">

<body>
    <div class="container">
        <header th:insert="fragments::header"></header>
        <h2 th:text="#{students.add}"></h2>
        <form method="post" th:action="@{/editing/students/add}" th:object="${student}">

            <div class="form-group">
                <label for="firstName" th:text="#{firstName}"></label>
                <input id="firstName" class="form-control" required type="text" name="firstName">
                <span style="color: red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </div>

            <div class="form-group">
                <label for="lastName" th:text="#{lastName}"></label>
                <input id="lastName" class="form-control" required type="text" name="lastName">
                <span style="color: red;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>

            <div class="form-group">
                <label for="group.id" th:text="#{group}"></label>
                <select id="group.id" class="form-control" required name="group.id">
                    <option th:each="group: ${groups}"
                            th:value="${group.id}" th:text="${group.name}"></option>
                </select>
            </div>

            <input class="btn btn-primary" type="submit" value="Create">
        </form>
        <footer th:insert="fragments::footer"></footer>
    </div>
</body>
</html>