<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Student</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>
    <h2 th:text="#{students.edit}"></h2>
    <form method="post" th:action="@{/editing/students/edit}" th:object="${student}">

        <div class="form-group">
            <label for="student.id">Id:</label>
            <input id="student.id" class="form-control" readonly
                   th:field="*{id}" th:placeholder="${student.id}">
        </div>

        <div class="form-group">
            <label for="firstName" th:text="#{firstName}"></label>
            <input id="firstName" class="form-control" required type="text"
                   th:field="*{firstName}" th:placeholder="${student.firstName}">
            <span style="color: red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>

        <div class="form-group">
            <label for="lastName" th:text="#{lastName}"></label>
            <input id="lastName" class="form-control" required type="text"
                   th:field="*{lastName}" th:placeholder="${student.lastName}">
            <span style="color: red;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>

        <div class="form-group">
            <label for="group.id" th:text="#{group}"></label>
            <select id="group.id" class="form-control" required name="group.id">
                <option th:each="group: ${groupList}"
                        th:value="${group.id}" th:text="${group.name}"></option>
            </select>
        </div>

        <input class="btn btn-primary" type="submit" value="Update">
    </form>
    <footer th:insert="fragments::footer"></footer>
</div>
</body>
</html>