<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head ('Edit Student')" />

<body>
    <div class="container">
        <header th:insert="fragments::header"></header>
        <h2 th:text="#{students.edit}"></h2>
        <form th:action="@{/editing/students/edit/{id}(id=${student.id})}" th:object="${student}"
            method="post">
            <div class="form-group">

                <label>Id:</label> <input class="form-control" th:placeholder="${student.id}" readonly>
                <p></p>

                <label th:text="#{firstName}"></label> <input type="text" class="form-control"
                    th:placeholder="${student.firstName}" th:field="*{firstName}" required> <label>
                    <div style="color: red;" th:if="${#fields.hasErrors('firstName')}"
                        th:errors="*{firstName}"></div>
                </label>
                <p></p>

                <label th:text="#{lastName}"></label> <input type="text" class="form-control"
                    th:placeholder="${student.lastName}" th:field="*{lastName}" required> <label>
                    <div style="color: red;" th:if="${#fields.hasErrors('lastName')}"
                        th:errors="*{lastName}"></div>
                </label>
                <p></p>

                <div class="box">
                    <label th:text="#{group}"></label> <select class="form-control" th:name="group.id"
                        required>
                        <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                    </select>
                </div>

            </div>
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
        <footer th:insert="fragments::footer"></footer>
    </div>
</body>
</html>