<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Courses</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>

    <div th:insert="fragments::menu_edit"></div>

    <h2 th:text="#{courses.pageName}"></h2>

    <a th:text="#{courses.add}" th:href="@{/editing/courses/get-add-view}"></a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{courses.thCourseName}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${courseList}">
            <td th:text="${course.name}"></td>
            <td><a th:text="#{edit}" th:href="@{/editing/courses/get-edit-view/{id}(id=${course.id})}"></a></td>
            <td><a th:text="#{delete}" th:href="@{/editing/courses/delete/{id}(id=${course.id})}"></a></td>
        </tr>
        </tbody>
    </table>

    <footer th:insert="fragments::footer"></footer>

</div>
</body>
</html>
