<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Teacher</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>
    <h2 th:text="#{teachers.add}"></h2>
    <form method="post" th:action="@{/editing/teachers/save-add-view}" th:object="${teacher}">

        <div class="form-group">
            <label for="firstName" th:text="#{firstName}"></label>
            <input class="form-control" id="firstName" name="firstName" required type="text">
            <span style="color: red;" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span>
        </div>

        <div class="form-group">
            <label for="lastName" th:text="#{lastName}"></label>
            <input class="form-control" id="lastName" name="lastName" required type="text">
            <span style="color: red;" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span>
        </div>

        <div class="form-group">
            <label for="course.id" th:text="#{course}"></label>
            <select class="form-control" id="course.id" name="course.id" required>
                <option th:each="course: ${courseList}"
                        th:text="${course.name}" th:value="${course.id}"></option>
            </select>
        </div>

        <input class="btn btn-primary" type="submit" value="Create">
    </form>
    <footer th:insert="fragments::footer"></footer>
</div>
</body>
</html>