<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Teacher</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>
    <h2 th:text="#{teachers.add}"></h2>
    <form method="post" th:action="@{/editing/teachers/add}" th:object="${teacher}">

        <div class="form-group">
            <label for="firstName" th:text="#{firstName}"></label>
            <input id="firstName" class="form-control" required type="text" name="firstName">
            <span style="color: red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>

        <div class="form-group">
            <label for="lastName" th:text="#{lastName}"></label>
            <input id="lastName" class="form-control" required type="text" name="lastName">
            <span style="color: red;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>

        <div class="form-group">
            <label for="course.id" th:text="#{course}"></label>
            <select id="course.id" class="form-control" required name="course.id">
                <option th:each="course: ${courseList}"
                        th:value="${course.id}" th:text="${course.name}"></option>
            </select>
        </div>

        <input class="btn btn-primary" type="submit" value="Create">
    </form>
    <footer th:insert="fragments::footer"></footer>
</div>
</body>
</html>