<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Teacher</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
    <div class="container">
        <header th:insert="fragments::header"></header>
        <h2 th:text="#{teachers.edit}"></h2>
        <form method="post" th:action="@{/editing/teachers/edit/{id}(id=${teacher.id})}" th:object="${teacher}">

            <div class="form-group">
                <label for="teacher.id">Id:</label>
                <input id="teacher.id" class="form-control" readonly
                       th:field="*{id}" th:placeholder="${teacher.id}">
            </div>

            <div class="form-group">
                <label for="firstName" th:text="#{firstName}"></label>
                <input id="firstName" class="form-control" required type="text"
                       th:field="*{firstName}" th:placeholder="${teacher.firstName}">
                <span style="color: red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </div>

            <div class="form-group">
                <label for="lastName" th:text="#{lastName}"></label>
                <input id="lastName" class="form-control" required type="text"
                       th:field="*{lastName}" th:placeholder="${teacher.lastName}">
                <span style="color: red;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>

            <div class="form-group">
                <label for="course.id" th:text="#{course}"></label>
                <select id="course.id" class="form-control" required name="course.id">
                    <option th:each="course: ${courses}"
                            th:value="${course.id}" th:text="${course.name}"></option>
                </select>
            </div>

            <input class="btn btn-primary" type="submit" value="Update">
        </form>
        <footer th:insert="fragments::footer"></footer>
    </div>
</body>
</html>