<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Teacher</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>

    <h2 th:text="#{teachers.edit}"></h2>

    <form
            method="post"
            th:action="@{/editing/teachers/save-edit-view}"
            th:object="${teacher}">

        <div class="form-group">
            <label
                    for="teacher.id">
                Id:
            </label>
            <input
                    class="form-control"
                    id="teacher.id"
                    readonly
                    th:placeholder="${teacher.id}"
                    th:field="*{id}">
        </div>

        <div class="form-group">
            <label
                    for="firstName"
                    th:text="#{firstName}">
            </label>
            <input
                    class="form-control"
                    id="firstName"
                    type="text" required
                    th:placeholder="${teacher.firstName}"
                    th:field="*{firstName}">
            <span
                    style="color: red;"
                    th:errors="*{firstName}"
                    th:if="${#fields.hasErrors('firstName')}"></span>
        </div>

        <div class="form-group">
            <label
                    for="lastName"
                    th:text="#{lastName}">
            </label>
            <input
                    class="form-control"
                    id="lastName"
                    type="text" required
                    th:placeholder="${teacher.lastName}"
                    th:field="*{lastName}">
            <span
                    style="color: red;"
                    th:errors="*{lastName}"
                    th:if="${#fields.hasErrors('lastName')}"></span>
        </div>

        <div class="form-group">
            <label
                    for="course.id"
                    th:text="#{course}">
            </label>
            <select
                    class="form-control"
                    id="course.id"
                    required
                    name="course.id">
                <option
                        th:each="course: ${courseList}"
                        th:text="${course.name}"
                        th:value="${course.id}">
                </option>
            </select>
        </div>

        <input
                class="btn btn-primary"
                type="submit"
                value="Update">
    </form>

    <footer th:insert="fragments::footer"></footer>

</div>
</body>
</html>