<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Teachers</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>
    <div th:insert="fragments::menu_edit"></div>
    <h2 th:text="#{teachers.pageName}"></h2>
    <a th:href="@{/editing/teachers/get-add-view}" th:text="#{teachers.add}"></a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{firstName}"></th>
            <th th:text="#{lastName}"></th>
            <th th:text="#{course}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher: ${teacherList}">
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.lastName}"></td>
            <td th:text="${teacher.course.name}"></td>
            <td><a th:href="@{/editing/teachers/get-edit-view/{id}(id=${teacher.id})}"
                   th:text="#{edit}"></a></td>
            <td><a th:href="@{/editing/teachers/delete/{id}(id=${teacher.id})}"
                   th:text="#{delete}"></a></td>
        </tr>
        </tbody>
    </table>
    <footer th:insert="fragments::footer"></footer>
</div>
</body>
</html>
