<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head ('Add Schedule Line')" />

<body>
    <div class="container">
        <header th:insert="fragments::header"></header>
        <h2 th:text="#{scheduleLines.add}"></h2>
        <form th:action="@{/editing/schedule-lines/add}" method="post">
            <div class="form-group">

                <div class="box">
                    <label th:text="#{date}"></label> <input type="date" th:type="date"
                        class="form-control" th:name="date" required>
                </div>

                <div class="box">
                    <label th:text="#{timeLessonPair}"></label> <select class="form-control"
                        th:name="lessonPair" required>
                        <option th:each="lessonPair : ${T(com.cbr.university.model.LessonPair).values()}"
                            th:value="${lessonPair}" th:text="${lessonPair.getPairStartTime()}"></option>
                    </select>
                </div>

                <div class="box">
                    <label th:text="#{group}"></label> <select class="form-control" th:name="group.id"
                        required>
                        <option th:each="group: ${groups}" th:text="${group.name}" th:value="${group.id}"></option>
                    </select>
                </div>

                <div class="box">
                    <label th:text="#{teacher}"></label> <select class="form-control"
                        th:name="teacher.id" required>
                        <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                            th:text="${teacher.firstName + ' ' + teacher.lastName}"></option>
                    </select>
                </div>

                <div class="box">
                    <label th:text="#{room}"></label> <select class="form-control" th:name="room.id"
                        required>
                        <option th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                    </select>

                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
        <footer th:insert="fragments::footer"></footer>
    </div>
</body>
</html>