<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Room</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>

    <h2 th:text="#{rooms.add}"></h2>

    <form
            method="post"
            th:action="@{/editing/rooms/save-add-view}"
            th:object="${room}">

        <div class="form-group">
            <label
                    for="name"
                    th:text="#{rooms.thRoomName}">
            </label>
            <input
                    class="form-control"
                    id="name"
                    type="text" required
                    name="name">
            <span
                    style="color: red;"
                    th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <input
                class="btn btn-primary"
                type="submit"
                value="Create">
    </form>

    <footer th:insert="fragments::footer"></footer>

</div>
</body>
</html>