<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head ('Add Room')">

<body>
    <div class="container">
        <header th:insert="fragments::header"></header>
        <h2 th:text="#{rooms.add}"></h2>
        <form method="post" th:action="@{/editing/rooms/add}" th:object="${room}">

            <div class="form-group">
                <label for="name" th:text="#{rooms.thRoomName}"></label>
                <input id="name" class="form-control" required type="text" name="name">
                <span style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <input class="btn btn-primary" type="submit" value="Create">
        </form>
        <footer th:insert="fragments::footer"></footer>
    </div>
</body>
</html>