<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head ('Add Group')" />

<body>
    <div class="container">
        <header th:insert="fragments::header"></header>
        <h2 th:text="#{groups.add}"></h2>
        <form th:action="@{/groups/add}" th:object="${group}" method="post">
            <div class="form-group">

                <label th:text="#{groups.thGroupName}"></label> <input type="text" class="form-control"
                    th:placeholder="${group.name}" th:name="name" required> <label>
                    <div style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </label>
                <p></p>

            </div>
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
        <footer th:insert="fragments::footer"></footer>
    </div>
</body>
</html>