<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Group</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="fragments::header"></header>
    <h2 th:text="#{groups.add}"></h2>
    <form method="post" th:action="@{/editing/groups/save-add-view}" th:object="${group}">

        <div class="form-group">
            <label for="name" th:text="#{groups.thGroupName}"></label>
            <input class="form-control" id="name" name="name" required type="text">
            <span style="color: red;" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
        </div>

        <input class="btn btn-primary" type="submit" value="Create">
    </form>
    <footer th:insert="fragments::footer"></footer>
</div>
</body>
</html>