<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Group</title>
    <th:block th:insert="~{fragments::head}"></th:block>
</head>

<body>
<div class="container">
    <header th:insert="~{fragments::header}"></header>

    <h2 th:text="#{groups.edit}"></h2>

    <form
            method="post"
            th:action="@{/editing/groups/save-edit-view}"
            th:object="${group}">

        <div class="form-group">
            <label
                    for="group.id">
                Id:
            </label>
            <input
                    class="form-control"
                    id="group.id"
                    readonly
                    th:placeholder="${group.id}"
                    th:field="*{id}">
        </div>

        <div class="form-group">
            <label
                    for="group.name"
                    th:text="#{groups.thGroupName}">
            </label>
            <input
                    class="form-control"
                    id="group.name"
                    type="text" required
                    th:placeholder="${group.name}"
                    th:field="*{name}">
            <span
                    style="color: red;"
                    th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <input
                class="btn btn-primary"
                type="submit"
                value="Update">
    </form>

    <footer th:insert="~{fragments::footer}"></footer>

</div>
</body>
</html>