<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Groups</title>
    <th:block th:insert="fragments::head"></th:block>
</head>

<body>
    <div class="container">
        <header th:insert="fragments::header"></header>
        <div th:insert="fragments::menu_edit"></div>
        <h2 th:text="#{groups.pageName}"></h2>
        <a th:href="@{/editing/groups/add}" th:text="#{groups.add}"></a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th th:text="#{groups.thGroupName}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="group: ${groupList}">
                    <td th:text="${group.name}"></td>
                    <td><a th:href="@{/editing/groups/edit/{id}(id=${group.id})}" th:text="#{edit}"></a></td>
                    <td><a th:href="@{/editing/groups/delete/{id}(id=${group.id})}" th:text="#{delete}"></a></td>
                </tr>
            </tbody>
        </table>
        <footer th:insert="fragments::footer"></footer>
    </div>
</body>
</html>
