<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: head ('Add Course')" />

<body>
    <div class="container">
        <h2>Add Course</h2>
        <form th:action="@{/courses/add}" method="post">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" th:name="name" required>
                <p></p>
            </div>
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
    </div>
</body>
</html>