<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: head ('Add Student')" />

<body>
    <div class="container">
        <h2>Add Student</h2>
        <form th:action="@{/students/add}" method="post">
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" class="form-control" th:name="firstName" required>
                <p></p>
                <label>Last Name:</label>
                <input type="text" class="form-control" th:name="lastName" required>
                <p></p>
                <div class="box">
                    <label>Group Name:</label>
                    <select class="form-control" th:name="group.id" required>
                        <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
    </div>
</body>
</html>