<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: head ('All Teachers')" />

<body>
    <div class="container">
        <h2>All Teachers</h2>
        <table class="table table-striped">
            <thead>
                <a th:href="@{/teachers/add}">Add Teacher</a>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teacher: ${teachers}">
                    <td th:text="${teacher.firstName}" />
                    <td th:text="${teacher.lastName}" />
                    <td th:text="${teacher.course.name}" />
                    <td><a th:href="@{/teachers/edit/{id}(id=${teacher.id})}">edit</a></td>
                    <td><a th:href="@{/teachers/delete/{id}(id=${teacher.id})}">delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
