<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: head ('All Groups')" />

<body>
    <div class="container">
        <h2>All Groups</h2>
        <table class="table table-striped">
            <thead>
                <a th:href="@{/groups/add}">Add Course</a>
                <tr>
                    <th>Group Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="group: ${groups}">
                    <td th:text="${group.name}" />
                    <td><a th:href="@{/groups/edit/{id}(id=${group.id})}">edit</a></td>
                    <td><a th:href="@{/groups/delete/{id}(id=${group.id})}">delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
