<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: head ('All Rooms')" />

<body>
    <div class="container">
        <h2>All Rooms</h2>
        <table class="table table-striped">
            <thead>
                <a th:href="@{/rooms/add}">Add Course</a>
                <tr>
                    <th>Room Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="room: ${rooms}">
                    <td th:text="${room.name}"/>
                    <td><a th:href="@{/rooms/edit/{id}(id=${room.id})}">edit</a></td>
                    <td><a th:href="@{/rooms/delete/{id}(id=${room.id})}">delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
