<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: head ('All Students')" />

<body>
    <div class="container">
        <h2>All Students</h2>
        <table class="table table-striped">
            <thead>
                <a th:href="@{/students/add}">Add Student</a>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Group</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student: ${students}">
                    <td th:text="${student.firstName}"/>
                    <td th:text="${student.lastName}"/>
                    <td th:text="${student.group.name}"/>
                    <td><a th:href="@{/students/edit/{id}(id=${student.id})}">edit</a></td>
                    <td><a th:href="@{/students/delete/{id}(id=${student.id})}">delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
