<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head ('Edit Room')" />

<body>
    <div class="container">
        <header th:insert="fragments::header"></header>
        <h2 th:text="#{rooms.edit}"></h2>
        <form th:action="@{/rooms/edit/{id}(id=${room.id})}" th:object="${room}" method="post">
            <div class="form-group">

                <label>Id:</label> <input class="form-control" th:placeholder="${room.id}" readonly>
                <p></p>

                <label th:text="#{rooms.thRoomName}"></label> <input type="text" class="form-control"
                    th:placeholder="${room.name}" th:field="*{name}" required> <label>
                    <div style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </label>
                <p></p>

            </div>
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
        <footer th:insert="fragments::footer"></footer>
    </div>
</body>
</html>